* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app-container {
  /* display: block; */
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 602px;
  height: 520px;
  margin: 20px auto;
  text-align: center;
  padding: 40px 0px 0px;
  /* overflow: hidden; */
  /*border-radius: 45px;*/
  background-image: linear-gradient(
    325deg,
    hsl(240deg 97% 55%) 0%,
    hsl(240deg 97% 65%) 32%,
    hsl(240deg 97% 70%) 59%,
    hsl(240deg 96% 75%) 74%,
    hsl(240deg 96% 79%) 84%,
    hsl(240deg 96% 82%) 90%,
    hsl(240deg 96% 85%) 94%,
    hsl(240deg 96% 88%) 97%,
    hsl(240deg 96% 91%) 99%,
    hsl(240deg 96% 93%) 100%,
    hsl(240deg 96% 96%) 100%,
    hsl(240deg 95% 98%) 100%,
    hsl(0deg 0% 100%) 100%
  );
}

.app-container__weekly-weather {
  margin-top: auto;
  width: fit-content;
}
.search-bar {
  display: flex;
  padding: 0 40px;
  margin-bottom: 30px;
}
.search-bar__input {
  background-color: none;
  border: none;
  outline: none;
  width: 90%;
  background: transparent;
  color: #fff;
  border-bottom: solid 1px lightblue;
}

.search-bar__input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.search-bar__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
}

#extraInfo {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding-bottom: 30px;
}

#extraInfo h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.search-bar__list {
  /*visibility: hidden;*/
  position: absolute;
  top: calc(40px + 1.5rem);
  width: 90%;
  /* background-color: blueviolet; */
  background-color: #bdc2ff;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.search-bar__list-item {
  padding: 8px;
  font-size: 1.2rem;
  list-style: none;
  cursor: pointer;
}

.search-bar__list-item:hover {
  background-color: aquamarine;
}

.search-bar__list-img {
  height: 1rem;
  padding-left: 8px;
}

.search-bar__input_active {
  /* background-color: blueviolet; */
  background: linear-gradient(to right bottom, #bdc2ff, #ffffff);
}

.current-weather__city {
  font-size: 3rem;
}

.current-weather__icon {
  padding: 1rem;
  font-size: 8rem;
}

.current-weather__temperature {
  font-size: 2rem;
}
.weekly-weather {
  display: flex;
  overflow: hidden;
  /* justify-content: space-between; */
}
.weekly-weather__day-container {
  /* flex-direction: column; */
  padding: 8px;
  background: linear-gradient(to right bottom, #bdc2ff, #ffffff);
  max-width: calc(602px / 7);
}

.weekly-weather__weather-icon {
  width: fit-content;
}

.weekly-weather__day-temperature {
  font-size: 1rem;
}

.weekly-weather__day {
  font-size: 1rem;
}
